<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Invoice</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"
      rel="stylesheet"
    />
    <style>
        <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        font-family: "Lato", sans-serif;
      }
      .p-3 {
        padding: 3rem !important;
      }
      .header h4 {
        font-weight: 700;
        color:  #2dd36f;
      }
      hr.new3 {
        border: 1px solid
      }

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 8%;
        font-size:20px ;
      }
      .footer .pfooter {
        transform: translate(11px, 40px);
      }
<
    </style>
  </head>
  <body>
    <div class="container mt-0 p-3">
      <div class="header">
        <h4>RECEIPT</h4>
        <div class="row">
          <div class="col">
            <div class="float-right imag" ><img src="{{logo}}" alt="RCBN"/></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>
              {{username}}<br />
              {{{address}}}<br />
              {{city}}<br />
              {{state}}<br />
              {{country}}<br />
              {{zipcode}}
              </p>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-sm-6">
            <div>
              <p>Recipet Number:&nbsp;&nbsp;&nbsp;<span><strong>{{orderRef}}</strong></span></p>
              <p>
                Receipt Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><strong>{{orderDate}}</strong></span>
              </p>
            </div>
          </div>
          <div class="col-sm-6 ">
            <div class="float-right">
              <p>
                Customer Ref no:&nbsp;&nbsp;&nbsp;<span
                  >
                  <strong>{{customerRef}}</strong>
                  </span
                >
              </p>
              <p>
                Order Ref
                no:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                  ><strong>{{orderRef}}</strong></span
                >
              </p>
              <p>
                Transaction Id:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span><strong>{{payment_channel}}</strong></span>
              </p>
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-12">
          <table>
            <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Tax</th>
                <th>Discount</th>
                <th>Coupon</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            </thead>
           {{#each OrderDetail}}
          <tr>
            <td>
               {{product_name}}
            </td>
            <td>
                {{currency}} {{base_price}}
            </td>
            <td>
               {{tax}}
            </td>
            <td>
               {{discount}}
            </td>
            <td>
               {{coupon}}
            </td>
            <td>
              {{quantity}}
            </td>
            <td>
             {{currency}} {{total_price}}
            </td>
          </tr>
          {{/each}}
            <tr>
                <th colspan="6">Grand Base Price</th>
                <td>{{currency}} {{base_price}}</td>
            </tr>
            <tr>
                <th colspan="6">Grand Final Price</th>
                <td>{{currency}} {{final_price}}</td>
            </tr>
          </table>
        </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="footer">
              <p class="pfooter">
                <hr class = "new3"/><br />
                {{settingAddress}}.<br />
                 Tel: {{settingPhone}} Email: {{settingEmail}} Web: {{settingDomainName}}
              </p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>